<?xml version="1.0"?>
<configuration>
	<!-- Define your customer specific application settings here. When you need to use different settings depending on configuration (debug/release), you need
		to create your transformation files (appSettings.Debug.config / appSettings.Release.config) in folder	"config\<customerPluginName>\Crm.Web\App_Data\Plugins\<customerPluginName>".
		The transformed filed will be created during application startup and will be saved in runtime folder "Crm.Web\App_Data\..." -->
	<appSettings>
		<add key="Turnover/Difference/Minimum" value="-1000000" />
		<add key="Turnover/Difference/Maximum" value="1000000" />
		<add key="Turnover/Difference/Steps" value="100000" />
		<add key="ContactStatus/LegacyId" value=""/>
		<add key="ProAlpha/MessageType/ContactStatusDataSet" value="YpAX-LCRM-LOCKSTATUS"/>
		<add key="ProAlpha/MessageType/CustomerDiscountGroupsDataSet" value="YpAX-LCRM-CUSTOMERDISCOUNTLINE"/>
		<add key="ProAlpha/MessageType/PartDiscountGroupsDataSet" value="YpAX-LCRM-PARTDISCOUNTLINE"/>
    <add key="ProAlpha/MessageType/TurnoverDataSet" value="XpAX-LCRM-TURNOVER"/>

    <add key="ProAlpha/Connection/Server" value=""/>
    <add key="ProAlpha/Connection/Port" value=""/>
    <add key="ProAlpha/Connection/Webservice" value=""/>
    <add key="ProAlpha/Connection/User" value=""/>
    <add key="ProAlpha/Connection/Password" value=""/>
    <add key="ProAlpha/Connection/UseNameServer" value="false"/>
		<!--
		allowServerASK (default)
		denyServerASK-->
		<add key="ProAlpha/Connection/AppServerKeepalive" value=""/>
		<add key="ProAlpha/Firma" value="100"/>
	</appSettings>
</configuration>