<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="lmobile.gida" type="LMobile.Gida.GidaConfiguration, LMobile.Gida"/>
    <section name="l-mobile" type="LMobile.Configuration, LMobile.Toolbox"/>
  </configSections>

  <appSettings>
    <add key="Default.Notify.EMail" value="jens.malso@L-mobile.com"/>
  </appSettings>

  <!--<lmobile.gida defaultConnectorType="LMobile.Gida.SqlServer.SqlServerConnector, LMobile.Gida.SqlServer">
    <connector name="LicenseManagementMaster" connectionString="Data Source=(LocalDb)\v11.0;Integrated Security=SSPI"/>
    <connector name="LicenseManagement" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SessionManager.Portal;Integrated Security=SSPI"/>
    <factory name="LicenseManagement" connector="LicenseManagement" type="LMobile.Gen3LicenseManagement.Dao.Gen3LicenseManagementFactory, LMobile.Gen3LicenseManagement.Dao"/>
  </lmobile.gida>-->

  <lmobile.gida defaultConnectorType="LMobile.Gida.SqlServer.SqlServerConnector, LMobile.Gida.SqlServer">
    <connector name="LicenseManagementMaster" connectionString="Data Source=.\;Integrated Security=SSPI"/>
    <connector name="LicenseManagement" connectionString="Data Source=.\;Initial Catalog=SessionManager.Portal;User ID=LMobile;Password=L-mobile"/>
    <factory name="LicenseManagement" connector="LicenseManagement" type="LMobile.Gen3LicenseManagement.Dao.Gen3LicenseManagementFactory, LMobile.Gen3LicenseManagement.Dao"/>
  </lmobile.gida>

  <l-mobile>
		<network>
      <!--<proxy uri="http://localhost:8080" user="blabla" password="huhu" bypassLocal="true" />-->
      <smtp host="172.20.3.250" port="25" user="" password="" domain=""/>
      <mail from="licenseManagement@L-mobile.com"/>
		</network>
  </l-mobile>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
